.card:has(~ div>form.login-form) {
    display: none;
}


.abp-application-layout .lp-content .row > *:last-child {
    display: none;
}

*[role="alert"] {
    padding-right: 70px;
}

html .abp-account-layout *:has(.abp-account-container) {
    padding: 0 !important;
    margin: 0 !important;
    display: block;
    width: 100vw;
    height: 100% !important;
    left: 0;
    right: 0;
}

.abp-account-container, #kt_app_root {
    height: 100%;
    width: 100%;
}